body,
html {
  height: 100%;
  background-color: rgb(255, 255, 255);
}
.container {
  display: flex;
  justify-content: center;
  height: 100%;
}
.hn-navbar {
  background-color: rgb(255, 99, 43);
  height: 20px;
}
.posts-list {
  display: grid;
  width: 100%;
  background-color: rgb(246, 246, 239);
}
.post-line {
  display: inline;
  float: left;
  margin-right: 0.25em;
}
.post-title-unclicked {
  color: black;
}
.post-title-clicked {
  color: gray;
}
.post-serial-number{
  margin-left: 0.5em;
  color: gray;
}
.post-second-line {
  color: gray;
  margin-left: 3em;
  font-size: x-small;
}
.post-domain-name {
  color: gray;
}
.underlineHover:hover {
  text-decoration: underline;
}